# Data Profile

- Business domain: scheduling platform for services
- Snapshot date: 2022-09-03

# Setup

In [1]:
import pandas as pd
import numpy as np

In [19]:
pdf_raw_user_by_vendor_by_store = pd.read_csv('user_data_by_vendor_by_store.csv')
pdf_raw_user_by_vendor_by_store

,Unnamed: 0,user_id,install_date,vendor_id,store_id,tenure,store_days_since_last_transaction,store_num_transactions,store_total_dollar_spend
0,0,142488,2022-07-23,195,269,41.737250,12.899776,2,15400.0
1,1,133793,2022-06-01,195,269,93.859821,20.668556,3,33000.0
2,2,139901,2022-07-09,195,269,55.806231,55.806223,1,33000.0
3,3,134030,2022-06-02,195,269,92.660766,63.704679,3,19600.0
4,4,140978,2022-07-14,195,269,50.750846,23.745670,3,13400.0
...,...,...,...,...,...,...,...,...,...
92250,92250,110297,2021-11-29,139,219,277.861396,81.845761,2,50300.0
92251,92251,108382,2021-11-15,139,219,291.649244,88.853760,2,59196.0
92252,92252,123325,2022-03-22,139,219,164.875360,95.752685,1,67050.0
92253,92253,17108,2018-08-22,146,226,1472.914944,415.731643,1,500.0
92254,92254,130107,2022-05-05,176,250,120.581620,120.578454,1,6000.0

In [20]:
pdf_raw_user_purchase_behavior = pd.read_csv('user_data_purchase_behavior.csv')
pdf_raw_user_purchase_behavior

,Unnamed: 0,user_id,num_vendors,num_success_vendors,prop_successfully_tried_vendors,num_service_categories,num_success_service_categories,prop_successfully_tried_servicecategory,total_successful_txns,prop_success_txns,total_transactions,total_transactions_amount,transaction_amount_mean,transaction_amount_median,transaction_amount_min,transaction_amount_max,days_between_successful_txn_dates_mean,days_between_successful_txn_dates_median,days_between_successful_txn_dates_min,days_between_successful_txn_dates_max
0,0,76416,1,1,1,1,1,1.0,1,1.000000,1,20.0,20.000000,20.0,20.0,20.0,NaN,NaN,NaN,NaN
1,1,83859,1,1,1,1,1,1.0,1,1.000000,1,20.0,20.000000,20.0,20.0,20.0,NaN,NaN,NaN,NaN
2,2,8708,1,1,1,1,1,1.0,1,1.000000,1,50.0,50.000000,50.0,50.0,50.0,NaN,NaN,NaN,NaN
3,3,18995,1,1,1,1,1,1.0,1,1.000000,1,50.0,50.000000,50.0,50.0,50.0,NaN,NaN,NaN,NaN
4,4,76764,1,1,1,1,1,1.0,1,1.000000,1,50.0,50.000000,50.0,50.0,50.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87029,87029,14834,1,1,1,1,1,1.0,998,0.996008,1002,295970.0,296.860582,300.0,0.0,500.0,0.074223,0.0,0.0,8.0
87030,87030,14311,1,1,1,4,4,1.0,8167,0.994884,8209,1114332.5,136.460017,150.0,0.0,920.0,0.000490,0.0,0.0,3.0
87031,87031,13774,1,1,1,3,3,1.0,2024,0.995573,2033,598750.0,295.971330,300.0,0.0,1100.0,0.014335,0.0,0.0,4.0
87032,87032,5898,1,1,1,1,1,1.0,234,0.947368,247,85398.0,366.515021,350.0,0.0,2620.0,0.381974,0.0,0.0,25.0
87033,87033,7876,1,1,1,3,3,1.0,16893,0.968524,17442,5008610.0,296.507814,300.0,0.0,1880.0,0.001066,0.0,0.0,12.0